@font-face {
   font-family: 'Ubuntu Mono';
   src: url('./font/UbuntuMono-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Ubuntu Mono';
   src: url('./font/UbuntuMono-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: 'Ubuntu Mono';
   src: url('./font/UbuntuMono-Italic.ttf') format('truetype');
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: 'Ubuntu Mono';
   src: url('./font/UbuntuMono-BoldItalic.ttf') format('truetype');
   font-weight: bold;
   font-style: italic;
}
